@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Туристическа агенция "Екватор"</h1>
    <img src="https://www.vyootrip.com/wp-content/uploads/2021/09/razones-agencia-de-viajes-corporativos.jpeg"/>
   
</div>
