@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color:bisque;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Туристическа агенция "Екватор"</h1>
    <img src="https://cdn5.vectorstock.com/i/1000x1000/19/19/tour-excursion-tourist-journey-bus-vector-34591919.jpg"/>
   
</div>
