@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Туристическа агенция "Екватор"</h1>
    <img crc="https://www.google.com/url?sa=i&url=https%3A%2F%2Faussiechildcarenetwork.com.au%2Farticles%2Fteaching-children%2Fvirtual-excursions-from-around-the-world&psig=AOvVaw2npSPEZmSfPGwzUxSSS4Ef&ust=1650521365118000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNi4g7H9ofcCFQAAAAAdAAAAABAa"/>
   
</div>
